@charset "utf-8";
/*CSS Document Archivo de estilo para ejemplo*/
div{
    font-family: "Century Gothic";
    background-color: #a8cf45;
    margin: 10px 10px;
    text-align:center;
    font-weight:bolder;
    padding:15px 30px;
    width:80px;
    display:inline-block;
    vertical-align:middle;
    border-radius:5px;
}

/*Triangulo Lateral*/
.triangulo-lateral{
-webkit-transform:translateX(0);
/*para firefox
-moz-transform:translateX(0)
*/
}

.triangulo-lateral:before{
    content: '';
    -webkit-transition-duration:0.3s;
    /*para firefox
-moz-transform:translateX(0)
*/
    border-style:solid;
    border-width: 15px 15px 15px 0px;

/*
Posiciones de los bordes
border-color:blue red black orange;
*/

    border-color: transparent 
    #a8cf45 
    transparent 
    transparent;


    position:absolute;
    left:0px;
    top:50%;
    margin-top:-15px;
    border-style: solid;

}
.triangulo-lateral:hover:before{
    /*deplazamiento del triangulo*/
    left:-13px;
}


/*triangulo-fijo*/

.triangulo-fijo{
    -webkit-transform: translateX(0);
    -webkit-transform-duration: 0.3s;
    /*para firefox
    -moz-transform:translateX(0)
    */
}

.triangulo-fijo:before{
    content: '';
    -webkit-transition-duration:0.3s;
    /*para mozilla
    -moz-transition-duration:0.3s;
    */
    border-style: solid;
    /*bordes definidos para el triangulo*/
    border-width: 0px 15px 15px 15px;

    /*
    posiciones de los bordes
    border-color:blue red black orange;
    */
    /**colores para los bordes definidos*/
    border-color: transparent
        /*#a8cf45*//*era el anterior*/
        transparent
        #a8cf45
        transparent;
    position: absolute;
    top:0px;
    left:50%;
    margin-left:-15px;
}
.triangulo-fijo:hover{
    -webkit-transform:translateY(0px)
} /*baja la caja y el triangulo sube*/
.triangulo-fijo:hover:before{
    /*desplazamiento del triangulo*/
    top: -13px; 
}


/*-----Triangulo Página-----*/

.esquina-pagina{
    -webkit-transform:translateX(0);
}
.esquina-pagina:before{
    content:'';

    position:absolute;
    left:0px;
    bottom:0px;
    
    width: 0px;
    height: 0px;

    background:
    -webkit-linear-gradient(
        45deg, white 45%,
        #aaa 50%,
        #ccc 60%, white);
        border-radius: 5px;
        -webkit-transition-duration:0.3s;
    }
    .esquina-pagina:hover:before{
        width: 35px;
        height: 35px;
    }
    
/*-----Triangulo Página nv-----*/

.esquina-paginanv{
    -webkit-transform:translateX(0);
}
.esquina-paginanv:before{
    content:'';

    position:absolute;
    left:0px;
    bottom:0px;
    
    width: 0px;
    height: 0px;

    background:
    -webkit-linear-gradient(
        45deg, black 45%,
        #aaa 50%,
        #ccc 60%, white);
        border-radius: 5px;
        -webkit-transition-duration:0.3s;
    }
    .esquina-paginanv:hover:before{
        width: 35px;
        height: 35px;
    }
    

    
    /*-----Sombra Fija-----*/
    .sombra-fija{
        -webkit-transform:translateX(0);
    }
    .sombra-fija::before{
        content:'';

        position:absolute;
        width: 90%;
        left: 5%;
        top:100%;
        height: 10px;

        background:-webkit-radial-gradient(
            center, ellipse,
            rgba(0,0,0,0.35) 0%,
            rgba(0,0,0,0) 80%);
            -webkit-transition-duration:0.3s;
            opacity: 0;
    }
    .sombra-fija:hover{
        -webkit-transform:translateY(0px)
    }
    .sombra-fija:hover:before{
        -webkit-transform:translateY(5px);
        opacity: 1;
    }

    /*-----Sombra Difuminada-----*/

    .sombra-difuminada{
        -webkit-transition-duration:0.3s;
        box-shadow:0px 0px 1px rgba(0,0,0,1);
    }
    .sombra-difuminada:hover{
        box-shadow:0px 0px 15px rgba(0,0,0,6);
    }

    /*----Sombra Radial----*/

    .sombra-radial{
        position:relative;
        box-shadow:0px 0px 1px black;
    }
    .sombra-radial:before,
    .sombra-radial:after{
        content:'';
        position:absolute;
        width: 100%;
        /*altura de la sombra*/
        height: 5px;
        left: 0px;
        opacity:0.5;
        -webkit-transition-duration: 0.3s;
    }
    .sombra-radial:before{
        bottom:100%;
        background:radial-gradient(
            /*posicion del difuminado desde arriba*/
            ellipse at 50% 150%,
            rgba(0,0,0,0.6) 0%,
            rgba(0,0,0,0) 80%);
    }
    .sombra-radial:after{
        top:100%;
        background:radial-gradient(
            /*posicion del difuminado desde arriba*/
            ellipse at 50% -50%,
            rgba(0,0,0,0.6) 0%,
            rgba(0,0,0,0) 80%);
    }
    .sombra-radial:hover:before,
    .sombra-radial:hover:after{
        opacity: 1;
    }

    /*-----Sombra Externa-----*/
.sombra-externa{
    box-shadow: 0px 0px 1px black;
    -webkit-transition-duration:0.3s;
    }
    .sombra-externa:hover{
        box-shadow: 2px 3px 3px black;
    }


    /*Sombra Interna*/
    .sombra-interna{
        -webkit-transition-duration:0.3s;
    }
    .sombra-interna:hover{
    /*Insert es la propiedad que hace que la sombra se vaya adentro*/
    box-shadow: 2px 2px 4px black inset,
            -2px -2px 4px black inset;
}
/*Iluminacion*/
.iluminacion{
    border:4px solid gray;
}
.iluminacion:hover{
    background-color:#1FC38D;
    color:#FFFFFF;
}
.navbar{
    background-color: black;
    -ms-flex-item-align: auto 0;
}